.container_index {
    padding: 0 140px 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.small-screen .container_index {
    justify-content: center;
}

.scroll-container_index {
    overflow-y: scroll;
    height: 100%;
    margin-right: -20px;
    margin-bottom: -20px;
}

@media (max-width: 920px) {
    .container_index {
        padding: 20px;
    }
}